<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Casita del Vidrio</description>
    <display-name>Casita del Vidrio</display-name>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.PrincipalEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProductosEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.VerProductosEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarioEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.RegistroUsuarioEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cdvLogin</servlet-name>
        <servlet-class>com.venvidrio.cdv.servlet.cdvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoCarritoEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.AgregarProductoCarritoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCuentaEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.ActualizarCuentaEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventHandlerBase</servlet-name>
        <servlet-class>com.venvidrio.cdv.utility.EventHandlerBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDespachoEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.ActualizarDespachoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioClaveEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.CambioClaveEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoCarritoEventHandler</servlet-name>
        <servlet-class>com.venvidrio.cdv.event.EliminarProductoCarritoEventHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalEventHandler</servlet-name>
        <url-pattern>/PrincipalEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProductosEventHandler</servlet-name>
        <url-pattern>/VerProductosEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioEventHandler</servlet-name>
        <url-pattern>/RegistroUsuarioEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cdvLogin</servlet-name>
        <url-pattern>/cdvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoCarritoEventHandler</servlet-name>
        <url-pattern>/AgregarProductoCarritoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCuentaEventHandler</servlet-name>
        <url-pattern>/ActualizarCuentaEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventHandlerBase</servlet-name>
        <url-pattern>/EventHandlerBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDespachoEventHandler</servlet-name>
        <url-pattern>/ActualizarDespachoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioClaveEventHandler</servlet-name>
        <url-pattern>/CambioClaveEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoCarritoEventHandler</servlet-name>
        <url-pattern>/EliminarProductoCarritoEventHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>cdv_principal.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
