<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrarEventHandler</servlet-name>
        <servlet-class>event.RegistrarEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>event.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarRegistroEventHandler</servlet-name>
        <servlet-class>event.GuardarRegistroEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NosotrosEvenHandler</servlet-name>
        <servlet-class>event.NosotrosEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionEventHandler</servlet-name>
        <servlet-class>event.InicioSesionEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mareLogin</servlet-name>
        <servlet-class>servlet.mareLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelControlEventHandler</servlet-name>
        <servlet-class>event.PanelControlEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalEventHandler</servlet-name>
        <servlet-class>event.PrincipalEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactanosEventHandler</servlet-name>
        <servlet-class>event.ContactanosEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BikinisEventHandler</servlet-name>
        <servlet-class>event.BikinisEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TankinisEventHandler</servlet-name>
        <servlet-class>event.TankinisEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterosEventHandler</servlet-name>
        <servlet-class>event.EnterosEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaDeCorreoEventHandler</servlet-name>
        <servlet-class>event.PruebaDeCorreoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurarCuentaEventHandler</servlet-name>
        <servlet-class>event.ConfigurarCuentaEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarActualizarDatosEventHandler</servlet-name>
        <servlet-class>event.GuardarActualizarDatosEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarProductoEventHandler</servlet-name>
        <servlet-class>event.GuardarProductoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEnCarritoEventHandler</servlet-name>
        <servlet-class>event.GuardarEnCarritoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarRecuperacionClaveEventHandler</servlet-name>
        <servlet-class>event.EnviarRecuperacionClaveEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPedidoEventHandler</servlet-name>
        <servlet-class>event.GuardarPedidoEventHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoPromocionEventHandler</servlet-name>
        <servlet-class>event.CorreoPromocionEventHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarEventHandler</servlet-name>
        <url-pattern>/RegistrarEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarRegistroEventHandler</servlet-name>
        <url-pattern>/GuardarRegistroEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NosotrosEvenHandler</servlet-name>
        <url-pattern>/NosotrosEvenHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionEventHandler</servlet-name>
        <url-pattern>/InicioSesionEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mareLogin</servlet-name>
        <url-pattern>/mareLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelControlEventHandler</servlet-name>
        <url-pattern>/PanelControlEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalEventHandler</servlet-name>
        <url-pattern>/PrincipalEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactanosEventHandler</servlet-name>
        <url-pattern>/ContactanosEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BikinisEventHandler</servlet-name>
        <url-pattern>/BikinisEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TankinisEventHandler</servlet-name>
        <url-pattern>/TankinisEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterosEventHandler</servlet-name>
        <url-pattern>/EnterosEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaDeCorreoEventHandler</servlet-name>
        <url-pattern>/PruebaDeCorreoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurarCuentaEventHandler</servlet-name>
        <url-pattern>/ConfigurarCuentaEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarActualizarDatosEventHandler</servlet-name>
        <url-pattern>/GuardarActualizarDatosEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarProductoEventHandler</servlet-name>
        <url-pattern>/GuardarProductoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEnCarritoEventHandler</servlet-name>
        <url-pattern>/GuardarEnCarritoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarRecuperacionClaveEventHandler</servlet-name>
        <url-pattern>/EnviarRecuperacionClaveEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPedidoEventHandler</servlet-name>
        <url-pattern>/GuardarPedidoEventHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoPromocionEventHandler</servlet-name>
        <url-pattern>/CorreoPromocionEventHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
